<!-- companies -->
<div class="row my-4" id="companies">
    <div class="col-sm-12">
        <h2>Companies</h2>
    </div>
    {% for company_img in FAKE_DB_COMPANIES %}
        <div class="col-4 col-sm-3 col-md py-2">
            <img
                src="{{ company_img }}"
                alt="company image"
                class="w-100 img-thumbnail"
            />
    </div>
    {% empty %}
        <h3 class="text-danger">Companies not found</h3>
    {% endfor %}
</div>
<!-- companies end -->