<!-- carousel padding veya margin de sorun var -->
<div id="banner" class="d-none d-md-block p-0">
    <div class="row bg-white text-dark pt-3">
        <div class="col-md-4 border-end border-start px-5">
            <div class="d-md-flex align-items-center justify-content-center">
                <h1 class="display-1 fw-bold">
                    <span class="text-warning">D</span>jango
                    <span class="text-warning text-left">P</span>roject
                </h1>
            </div>
        </div>
        <div class="col-md-8 pe-0">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1">
                    </button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"
                        aria-label="Slide 2">
                    </button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2"
                        aria-label="Slide 3">
                    </button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="3"
                        aria-label="Slide 4">
                    </button>
                </div>
                <div class="carousel-inner">
                    {% for carousel_img in FAKE_DB_CAROUSEL %}
                        <div class="carousel-item active">
                            <img
                                src="{{ carousel_img }}"
                                class="d-block w-100 rounded-start"
                                alt="carousel image"
                            />
                    </div>
                    {% endfor %}
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                    </span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true">
                    </span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- carousel end -->